* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* 住专转 爪转 */
.container {
  max-width: 1100px;
  margin: 0 auto;
  border: 4px solid red;
  padding: 10px;
  overflow: hidden; /* 拽 float 砖 注转 */
}

/*   */
.item {
  border: 4px solid red;
  background: #fff;
}

/* 注 砖转 */
.sidebar {
  float: left;
  width: 18%;
  height: 420px;
}

/* 专 转  */
.main-content {
  float: right;
  width: 80%;
}

/* 砖专转 */
.row {
  overflow: hidden;   /* 拽 floats 转 砖专 */
  margin-bottom: 12px;
}

/* 砖专 注: 4 拽驻住转 */
.row-top .box {
  float: left;
  width: 23.5%;
  height: 90px;
  margin-right: 2%;
}

.row-top .box:last-child {
  margin-right: 0;
}

/* 砖专 爪注转 */
.column-left {
  float: left;
  width: 48%;
}

.wide-box-middle {
  float: right;
  width: 48%;
  height: 200px;
}

/* 5: 驻住 专 拽 */
.wide-bar {
  height: 60px;
  margin-bottom: 12px;
}

/* 6: 拽驻住 爪-专 */
.big-box {
  height: 90px;
}

/* 砖专 转转 */
.wide-box-bottom {
  float: left;
  width: 65%;
  height: 120px;
}

.small-box-bottom {
  float: right;
  width: 33%;
  height: 120px;
}

/*  专住驻住转 */
@media (max-width: 750px) {
  .sidebar,
  .main-content,
  .row-top .box,
  .column-left,
  .wide-box-middle,
  .wide-box-bottom,
  .small-box-bottom {
    float: none;
    width:
