* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    height: calc(100vh - 20px);
    border: 2px solid red;
    gap: 10px;
    padding: 10px;
    align-items: stretch;
}

.item {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    min-height: 50px;
}

.sidebar {
    flex: 0 0 14%;
    align-self: stretch;
    padding: 10px;
}

.row-middle {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: stretch;
}
.row-middle .column-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}
.row-middle .column-left .wide-bar {
    height: 50px;
}
.row-middle .column-left .big-box {
    height: 120px;
}
.row-middle .middle-right,
.row-middle .wide-box-middle {
    flex: 3;
    min-height: 170px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.row-top .item {
    flex: 1;
    height: 100px;
}

.row-middle {
    flex: 1;
}
.row-middle .wide-bar {
    flex: 2;
    height: 80px;
}
.row-middle .big-box {
    flex: 3;
    height: 150px;
}

.row-bottom {
    display: flex;
    gap: 10px;
    flex: 1;
    align-items: stretch;
}
.row-bottom .wide-box-bottom {
    flex: 3;
    min-height: 170px;
}
.row-bottom .small-box-bottom {
    flex: 1;
    min-height: 170px;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        width: 100%;
        height: 100px;
    }

    .row {
        flex-direction: column;
    }

    .item {
        width: 100%;
        margin-bottom: 5px;
        height: auto;
        min-height: 50px;
    }
}